* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}