body[class="theme--dark"] {
  // Colors
  --color-primary-1000: #131319;
  --color-primary-900: #1E1F29;
  --color-primary-800: #272532;
  --color-primary-600: #353340;
  --color-primary-500: #6B6B7B;
  --color-primary-400: #9898ad;
  --color-primary-100: #ffffff;

  --color-accent-1000: #93C5FD;
  --color-accent-900: #5D7FA5;
  --color-accent-800: #3B5573;

  --color-etc-red: #F66262;
  --color-etc-green: #86EFAC;
  --color-etc-yellow: #FDBA74;
}