.player {
  @apply relative;
  max-height: 100%;

  &:hover,
  &:focus {
    .controls {
      @apply bottom-5 opacity-100;
    }
  }

  &__video {
    @apply cursor-pointer w-full h-full;
    background-color: var(--color-primary-1000);
  }

  .controls {
    @apply absolute left-5 bottom-0 opacity-0 flex flex-col justify-between bg-opacity-75 rounded-lg transition-all duration-75;
    width: calc(100% - 2.5rem);

    &__progress {
      @apply h-1.5 w-full rounded overflow-hidden bg-opacity-50 cursor-pointer;
      background-color: var(--color-primary-1000);

      &-inner {
        @apply relative h-full;
        background-color: var(--color-accent-1000);
      }
    }

    &__actions {
      @apply mt-5 flex items-center;

      &-action {
        @apply text-base;

        &:hover {
          color: var(--color-accent-1000);
        }

        &:last-child {
          @apply ml-auto
        }
      }

      &-time {
        @apply flex items-center text-2xs ml-2;
        color: var(--color-primary-100);

        > p:nth-child(2) {
          @apply mx-2;
        }
      }
      }
  }
}